@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    /* for the full page css */
    --primary-color: #fbbf24;
}

body{
    font-family: 'Poppins', sans-serif;
}
hr{
    margin: 2rem 0;
}

/* container */
.container{
    padding-left: 1rem;
    padding-right: 1rem; 
    /* rem is dependent upon the font pixels */
}
.container-center{
    max-width: 600px;
    margin: auto;
}

/* links */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: black;
}
.link-secondary{
    color: black;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/* lists */

.list-non-bullet{
    list-style-type: none;
}
.list-item-inline{
    display: inline;
    margin: 0rem 0.5rem;
}

/* nav */

.navigation{
    background-color: var(--primary-color);
    color: black;
    border-bottom-left-radius: 0.5rem;
}
.navigation .nav-brand{
    font-size: 1.5rem;
    font-weight: 700;
}
.navigation .link{
    color: black;
}

.navigation .link-active{
    font-weight: bold;
}

.navigation .nav-pills{
    text-align: right;
    padding: 1rem;
}