@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/* container */
.container{
    padding-left: 1rem;
    padding-right: 1rem; 
    /* rem is dependent upon the font pixels */
}
.container-center{
    max-width: 600px;
    margin: auto;
}